/* Carousel container */
.carousel {
    position: relative;
    width: 100%;
    height: 70vh;
    /* Adjust according to your needs */
}

/* Slide container */
.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

/* Each slide */
.carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    /* Initially invisible */
    transition: opacity 1s ease-in-out;
}

/* Active slide */
.carousel-open:checked + .carousel-item {
    opacity: 1;
}

/* Style the bullets for the indicators */
.carousel-indicators {
    text-align: center;
    padding-top: 10px;
}

/* Bullet styles */
.carousel-bullet {
    cursor: pointer;
    color: #bbb;
    font-size: 30px;
    margin-right: 10px;
    transition: color 0.3s;
}

.carousel-bullet:hover {
    color: #333;
}
